*{
  font-size: 16px; /* set base text size for all elements, then can use em for sizing */
}

:root {
  /* color variables */
  --main-text-color: #fff;
  --main-text-color-alt: #000;
  --main-bg-color: #000;
  --main-bg-color-alt: #d1a733;
  --header-title-outline: #d1a733;
}

html, body{
  height: 100vh;
}

body{
  font-family: 'Times New Roman', Times, serif; /* this will target all text within the body */
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* ```````````````` MAIN SECTION (General/Standard Settings) ````````````````*/

#body-container {
  /* box sizing */
  height: 100%;
}

#main-container{
  /* box sizing */
  height: 100%;
  /* positioning */
  display: flex;
  justify-content: space-between;
}

/* ```````````````` HEADER SECTION ````````````````*/

#header-container {
  /* font styling */
  text-align: center;
  /* box sizing */
  width: 100%;
  height: 175px;
  /* positioning */
  z-index: 1;
  position: relative;
}

#header-container img {
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

#header-container h1 {
  /* font styling */
  font-size: 5rem;
  color: var(--main-text-color-alt);
  font-weight: 700;
  text-shadow: /* creates a stroke effect around the header text*/
    -2px -2px 0 var(--header-title-outline),
     2px -2px 0 var(--header-title-outline),
    -2px  2px 0 var(--header-title-outline),
     2px  2px 0 var(--header-title-outline);
  /* box sizing */
  width: 100%;
  /* positioning */
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers h1 */
}

/* ```````````````` ACCORDION SECTION ````````````````*/

.accordion{
  border: 5px outset black;
  width: 25%;
  text-align: center;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--main-bg-color-alt);
}

.accordion-title {  
  background-color: black;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 5px 0;
}

.accord-content-container {
  background-color: var(--main-text-color);
  margin: 10px 0;
  color: var(--main-text-color-alt);
}

.p-description {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px;
}

.menu-option{
  color: var(--main-text-color-alt);
}

input{
  background-color: gold;
  border: none;
  border-radius: 3px;
  font-size: 1.25rem;
  padding: 5px 10px;
}

input:hover{
  background-color: var(--main-bg-color-alt);
  margin-top: 5px;
  cursor: pointer;
}

/* ```````````````` RESULTS SECTION ````````````````*/

#results-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-area{
  width: 60%;
  border: 1px solid var(--main-text-color);
  padding: 20px;
  text-align: center;
}