*{
  padding: 0;
  margin: 0;

}

body{
  background-color: beige;
}

h3{
  font-family: 'Times New Roman', Times, serif;

}

/* .image{ */
  
 

.header-container{
  text-align: center;
  padding-top: 20px;
  color: gold;
  height: 100px;
  object-fit: cover;
  object-position: center;
  background-position: top;
  width: 100%;
  height: 300px;
  background-image: url(../bitcoin-3228194_640.jpg);
  font-size: 2rem;
  
}

.main-container{
  display: flex;
}

.accordion{
  box-sizing: border-box;
  border: 5px inset black;
  max-width: 200px;
  text-align: center;
  height: 400px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  
}

.acc-option{
  margin-bottom: 15px;
}

.selection-description{

}